@use "../../../../scss/" as *;
@use "sass:math";

.about-section {
  .card {
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
  }
  &.active {
    .about-content-left {
      transform: translateX(0);
      opacity: 1;
    }
    .about-content-right-wrapper {
      .card {
        opacity: 1;
        transform: translateY(0);
        transition: transform 0.5s ease, opacity 0.5s ease;
        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            transition-delay: #{math.div($i, 2)}s;
          }
        }
      }
    }
  }
}

.about-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about-content-left {
  width: 60%;
  pointer-events: visible;
  overflow: visible;
  opacity: 0;
  transform: translateX(-150px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  & > * {
    margin-top: 16px;
  }
  .about-subtitle {
    font-size: 1.12em;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #ffffffc3;
  }
  .about-title {
    position: relative;
    font-size: 4.2em;
    color: $text-color;
    margin-bottom: 0.6em;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
      height: 2px;
      background: linear-gradient(
        to right,
        transparent,
        $third-color,
        transparent
      );
    }
  }
  p {
    color: #b8b8b8;
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.5em;
    width: 90%;
    text-align: justify;
  }
}

.about-content-right {
  width: 40%;
  min-height: 660px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  &-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}
