.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main-container {
  width: 100%;
  height: 100%;
  margin-top: 66px;
  padding: 0;
}

.wrapper-content {
  max-width: 1170px;
  margin: 0 auto;
}

.swiper-slide {
  opacity: 0 !important;
  &-active {
    opacity: 1 !important;
  }
}

.scroll {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 0 4px;
  bottom: 2rem;
  z-index: 1;
  left: 50%;
  opacity: 1;
  transition: opacity 0.3s linear;
  transform: translateX(-50%);
  animation: bounce 3s ease infinite;
  &.hide {
    opacity: 0;
    transition: 0.3s linear;
  }
}

@keyframes bounce {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

.space {
  width: 100%;
  height: 100vh;
}
