@use "../../scss/" as *;

.card {
  --column: 2;
  --spacing: 20px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: calc(calc(100% / var(--column) - var(--spacing)));
  min-height: 235px;
  flex-direction: column;
  background-color: #09002ebb;
  margin-left: var(--spacing);
  margin-bottom: var(--spacing);
  border: 2px solid;
  border-radius: 12px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right bottom, #188293cc, #550077);
  transition: 0.3s linear;
  &:hover {
    filter: drop-shadow(0 0 0.75rem #188293cc);
    transition: 0.3s linear;
  }
  &-top {
    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }
  &-content {
    p {
      font-size: $main-fontFamily;
      color: $text-color;
      letter-spacing: 1px;
    }
  }
}
