@use "../../../../../scss/" as *;

.exp-card {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  height: fit-content;
  padding: 15px 15px 15px 40px;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: $secondBg-color;
  border-radius: 4px;
  &::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-size: 400% 400%;
    background-image: linear-gradient(
      -45deg,
      #fc6c8f,
      #ff2ced,
      #ffb86c,
      #2cccff,
      #20e3b2,
      #ffcc70,
      #c850c0,
      #4158d0
    );
    animation: gradient 7s ease-in-out alternate infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.exp-card__logo {
  position: absolute;
  left: -25px;
  width: 50px;
  height: 50px;
  z-index: 9;
  background-color: $secondBg-color;
  border-radius: 50%;
  border: 3px solid #550077;
  padding: 10px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.exp-card__content {
  position: relative;
  display: flex;
  flex-direction: column;
  & > * {
    margin-bottom: 8px;
  }
}

.exp-card__header {
  position: relative;
  .exp-card__title {
    font-size: 1.25em;
    font-weight: 700;
    color: $text-color;
    margin-bottom: 5px;
    &::after {
      content: "";
      position: absolute;
      left: -10px;
      width: 2px;
      height: 100%;
      background: linear-gradient(to bottom, transparent, #c3a95a, transparent);
    }
  }
  .exp-card__subtitle,
  .exp-card__date {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7647058824);
  }
}

.exp-card__list {
  & > * {
    margin-top: 8px;
  }
  &__item {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
  }
}
