@use "./scss/" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
}

body {
  color: #fff;
  font-family: $main-fontFamily;
  font-family: $second-fontFamily;
  font-size: 14px;
  font-weight: 400;
  background-color: #000;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button,
input {
  outline: none;
}
