@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Orbitron:wght@600&display=swap");

$main-fontSize: 14px;

$main-color: #ff3366;
$second-color: #d400ff;
$third-color: #c3a95a;
$bg-color: #000000;
$secondBg-color: #050021;
$text-color: #f5f5f5;

$main-fontFamily: "Baloo Bhaijaan 2", cursive;
$second-fontFamily: "Orbitron", sans-serif;

$mobile-width: 600px;
$tablet-width: 1024px;
