@use "../../../../scss/" as *;

.contact-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.contact-content-left {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 50%;
  background-color: $secondBg-color;
  border-radius: 8px;
  overflow: hidden;
}

.contact-content-right {
  width: 50%;
  canvas {
    display: block;
    width: 100%;
    height: 660px !important;
    touch-action: none;
  }
}

.contact-header {
  .contact-subtitle {
    font-size: 1.12em;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: #ffffffc3;
  }
  .contact-title {
    font-size: 4.2em;
    color: $text-color;
  }
}

.contact-form {
  position: relative;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-family: $main-fontFamily;
  font-family: $second-fontFamily;
  &__label {
    display: flex;
    flex-direction: column;
    &--text {
      font-size: $main-fontSize;
      color: $text-color;
      margin-bottom: 8px;
    }
    &--field {
      padding: 8px 10px;
      border-radius: 3px;
      border: none;
      outline: none;
      background-color: #09002e;
      color: $text-color;
      font-size: $main-fontSize;
    }
  }
}
.btn {
  width: fit-content;
  outline: none;
  padding: 5px 10px;
  border: none;
}

.btn-submit {
  border-radius: 3px;
  color: $text-color;
  background-color: $main-color;
  font-size: $main-fontSize;
  font-family: $main-fontFamily;
  font-family: $second-fontFamily;
  &:hover {
    filter: drop-shadow(0 0 0.75rem $main-color);
    transition: 0.3s ease;
  }
}
